$dark: #282c34;
$dark-accent: #21252b;
$text-dark: #495153;
$text-active: #abb2bf;
$text: #cccccc;
$theme: #ff0080;

$sidebar-width: 25em;

.bg-dark {
    background-color: $dark !important;
}

.bg-dark-accent {
    background-color: $dark-accent !important;
}