$dark: #282c34;
$dark-accent: #21252b;
$darkest: rgba(22, 22, 22, 0.288);
$text-dark: #495153;
$text-active: #abb2bf;
$text: #cccccc;
$theme: #ff0080;
$theme-secondary: #0dcaf0;

$sidebar-width: 20%;

.bg-dark {
    background-color: $dark !important;
}

.bg-dark-accent {
    background-color: $dark-accent !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
