@import './custom';
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

* {
    font-family: 'Consolas', sans-serif;
}

p,
small,
h1,
h2,
h3,
h4,
h5 {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: $dark;
    color: white;
}

.main {
    height: 100vh !important;
    margin-left: $sidebar-width;
}

.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 400ms linear;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 400ms linear;
}

.fade-exit-done {
    opacity: 0;
}
