@import './custom';
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

* {
    font-family: 'Consolas', sans-serif;
}

p,
small,
h1,
h2,
h3,
h4,
h5 {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: $dark;
    color: white;
}

.main {
    height: 100vh !important;
    margin-left: $sidebar-width;
}
