@import './custom';
@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

* {
    font-family: 'Consolas', sans-serif;
}

p,
small,
h1,
h2,
h3,
h4,
h5 {
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: $dark;
    color: white;
}

.main {
    height: 100vh !important;
    background-color: #0f11143d;
}

.app-title {
    color: $theme;
    font-family: 'Langar', cursive;
    text-align: center;
}

.app-font,
.app-font * {
    font-family: 'Langar', cursive;
}

.pfp {
    border-radius: 50%;
    object-fit: cover;
    height: 100% !important;
    width: 100% !important;
}

.ring-indicator-online {
    box-shadow: 0px 0px 1px 4px rgb(6, 167, 0);
}

.ring-indicator-offline {
    box-shadow: 0px 0px 1px 4px rgb(182, 41, 65);
}

// PRESETS

.pointer {
    cursor: pointer;
}

.prewrap {
    white-space: pre-wrap;
}

.fade-appear {
    opacity: 0;
    z-index: 1;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 400ms linear;
}

.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms linear;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 400ms linear;
}

.fade-exit-done {
    opacity: 0;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    background: #0f1114;
    overflow: hidden;
}

.background span {
    width: 7vmin;
    height: 7vmin;
    border-radius: 7vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 40;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background span:nth-child(0) {
    color: #ff0080;
    top: 56%;
    left: 42%;
    animation-duration: 62s;
    animation-delay: -88s;
    transform-origin: 2vw -17vh;
    box-shadow: 14vmin 0 2.1019566003359635vmin currentColor;
}
.background span:nth-child(1) {
    color: #ff0080;
    top: 17%;
    left: 99%;
    animation-duration: 20s;
    animation-delay: -53s;
    transform-origin: -6vw -15vh;
    box-shadow: 14vmin 0 2.164024976909241vmin currentColor;
}
.background span:nth-child(2) {
    color: #ff0080;
    top: 18%;
    left: 65%;
    animation-duration: 64s;
    animation-delay: -63s;
    transform-origin: -7vw 8vh;
    box-shadow: 14vmin 0 2.608174580288839vmin currentColor;
}
.background span:nth-child(3) {
    color: #ff0080;
    top: 74%;
    left: 77%;
    animation-duration: 50s;
    animation-delay: -24s;
    transform-origin: 23vw -15vh;
    box-shadow: 14vmin 0 1.9586774061552843vmin currentColor;
}
.background span:nth-child(4) {
    color: #ff0080;
    top: 15%;
    left: 31%;
    animation-duration: 32s;
    animation-delay: -41s;
    transform-origin: 17vw -13vh;
    box-shadow: -14vmin 0 2.362979108261107vmin currentColor;
}
.background span:nth-child(5) {
    color: #ff1aec;
    top: 2%;
    left: 91%;
    animation-duration: 63s;
    animation-delay: -37s;
    transform-origin: -1vw -5vh;
    box-shadow: 14vmin 0 2.6574225359906394vmin currentColor;
}
.background span:nth-child(6) {
    color: #ff1aec;
    top: 12%;
    left: 32%;
    animation-duration: 12s;
    animation-delay: -93s;
    transform-origin: -22vw -10vh;
    box-shadow: 14vmin 0 2.243267922677566vmin currentColor;
}
.background span:nth-child(7) {
    color: #ff1aec;
    top: 18%;
    left: 93%;
    animation-duration: 15s;
    animation-delay: -90s;
    transform-origin: 12vw 0vh;
    box-shadow: 14vmin 0 2.7272538240289785vmin currentColor;
}
.background span:nth-child(8) {
    color: #ff1aec;
    top: 92%;
    left: 45%;
    animation-duration: 47s;
    animation-delay: -36s;
    transform-origin: -4vw -9vh;
    box-shadow: 14vmin 0 2.5379230972868987vmin currentColor;
}
.background span:nth-child(9) {
    color: #ff0080;
    top: 45%;
    left: 97%;
    animation-duration: 51s;
    animation-delay: -9s;
    transform-origin: -20vw -10vh;
    box-shadow: -14vmin 0 1.8073537782273514vmin currentColor;
}
.background span:nth-child(10) {
    color: #ff0080;
    top: 72%;
    left: 18%;
    animation-duration: 85s;
    animation-delay: -17s;
    transform-origin: 7vw 19vh;
    box-shadow: -14vmin 0 2.4485185072699593vmin currentColor;
}
.background span:nth-child(11) {
    color: #ff0080;
    top: 60%;
    left: 90%;
    animation-duration: 46s;
    animation-delay: -55s;
    transform-origin: -21vw 6vh;
    box-shadow: 14vmin 0 1.8860861433510117vmin currentColor;
}
.background span:nth-child(12) {
    color: #ff0080;
    top: 22%;
    left: 24%;
    animation-duration: 50s;
    animation-delay: -85s;
    transform-origin: -23vw 19vh;
    box-shadow: 14vmin 0 2.414071975592284vmin currentColor;
}
.background span:nth-child(13) {
    color: #ff1aec;
    top: 46%;
    left: 12%;
    animation-duration: 42s;
    animation-delay: -38s;
    transform-origin: 7vw 11vh;
    box-shadow: 14vmin 0 2.025487103329473vmin currentColor;
}
.background span:nth-child(14) {
    color: #ff0080;
    top: 87%;
    left: 50%;
    animation-duration: 36s;
    animation-delay: -86s;
    transform-origin: -5vw -4vh;
    box-shadow: 14vmin 0 2.040624291057579vmin currentColor;
}
.background span:nth-child(15) {
    color: #ff0080;
    top: 75%;
    left: 43%;
    animation-duration: 93s;
    animation-delay: -62s;
    transform-origin: 3vw 18vh;
    box-shadow: -14vmin 0 1.799475115863302vmin currentColor;
}
.background span:nth-child(16) {
    color: #ff1aec;
    top: 48%;
    left: 93%;
    animation-duration: 26s;
    animation-delay: -99s;
    transform-origin: -6vw 3vh;
    box-shadow: -14vmin 0 1.8684857833247077vmin currentColor;
}
.background span:nth-child(17) {
    color: #ff0080;
    top: 24%;
    left: 8%;
    animation-duration: 62s;
    animation-delay: -86s;
    transform-origin: 17vw -6vh;
    box-shadow: -14vmin 0 2.736263092038456vmin currentColor;
}
.background span:nth-child(18) {
    color: #ff0080;
    top: 1%;
    left: 68%;
    animation-duration: 44s;
    animation-delay: -60s;
    transform-origin: 20vw -24vh;
    box-shadow: -14vmin 0 1.7519122704435859vmin currentColor;
}
.background span:nth-child(19) {
    color: #ff1aec;
    top: 78%;
    left: 100%;
    animation-duration: 95s;
    animation-delay: -83s;
    transform-origin: 17vw -2vh;
    box-shadow: 14vmin 0 2.423594002293695vmin currentColor;
}
