@import '../custom';

.contacts {
    height: 80vh;
    overflow-y: auto;

    .name {
        color: $theme;
    }

    .button {
        width: 3rem;
    }

    .id {
        color: $text;
    }

    .contact {
        transition: 0.15s ease-in-out;
    }

    .contact:hover {
        background-color: $dark;
    }
}

.conversations::-webkit-scrollbar {
    width: 10px;
    background-color: $dark-accent;
}

.conversations::-webkit-scrollbar-thumb {
    background-color: rgb(26, 26, 26);
    border-radius: 50rem;
}
