@import '../custom';

.contacts {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .scrollable {
        height: 75vh;
        overflow-y: auto;
    }

    .scrollable::-webkit-scrollbar {
        width: 10px;
        background-color: $dark-accent;
    }

    .scrollable::-webkit-scrollbar-thumb {
        background-color: rgb(26, 26, 26);
        border-radius: 50rem;
    }

    .add-button {
        background-color: $darkest;
        flex-grow: 1;
    }

    .name {
        color: $theme;
    }

    .button {
        width: 3rem;
    }

    .id {
        color: $text;
    }

    .contact {
        transition: 0.15s ease-in-out;
    }

    .contact:hover {
        background-color: $dark;
    }

    .empty {
        color: $text-active;
    }
}
