@import '../custom';

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.25rem;

    .add-button {
        flex-grow: 1;

        button {
            background-color: $theme-orange;
        }

        button:focus {
            box-shadow: none;
        }
    }

    .photo {
        height: 50px;
        width: 50px;
    }

    .name {
        color: $theme-secondary;
    }

    .btn {
        width: 50px;
        height: 50px;

        * {
            height: 100%;
            vertical-align: middle;
        }

        img {
            max-width: 100%;
        }
    }

    .send-icon {
        fill: $theme-green;
    }

    .id {
        color: $text;
    }

    .contact {
        background-color: $darkest;
        margin: 0.5rem;
        border-radius: 15px;
        transition: 0.15s ease-in-out;
    }

    .contact:hover {
        background-color: $dark;
    }

    .empty {
        color: $text-active;
    }

    .add-modal {
        color: black;
    }
}
