@import '../custom';

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form {
        border-radius: 5% !important;
        width: 25rem;
        height: 32rem;
        background-color: #21252b9d;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .loading-img {
        transition: 0.15s ease-in-out;
        width: 4em;
    }

    .success-img {
        transition: 0.15s ease-in-out;
        width: 3em;
    }

    .btn {
        font-size: 18px;
        background-color: $theme-secondary;
    }

    a {
        cursor: pointer;
        color: $theme !important;
    }

    @keyframes move {
        100% {
            transform: translate3d(0, 0, 1px) rotate(360deg);
        }
    }
}
