@import '../custom';

.sidebar {
    min-width: $sidebar-width !important;
    height: 100vh !important;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto 1fr 100px;
    gap: 0px 0px;
    grid-template-areas:
        'header'
        'nav'
        'content'
        'footer';

    z-index: 9;
    top: 0;
    left: 0;
    background-color: $dark-accent;
    overflow: hidden;
    transition: 0.6s;

    &.collapsed {
        position: absolute !important;
        transform: translateX(0) !important;
    }

    &.hidden {
        position: absolute;
        transform: translateX(-100%);
    }

    .header {
        grid-area: header;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tab-content {
        padding-top: 0.25rem;
        overflow: auto;
        grid-area: content;
    }

    .tab-content::-webkit-scrollbar {
        width: 10px;
        background-color: $dark-accent;
    }

    .tab-content::-webkit-scrollbar-thumb {
        background-color: rgb(26, 26, 26);
        border-radius: 50rem;
    }

    .footer {
        grid-area: footer;
        background-color: rgba(22, 22, 22, 0.288);

        .photo {
            height: 60px;
            width: 60px;
        }
    }

    .nav {
        grid-area: nav;
        height: fit-content !important;
    }

    .nav-item {
        background-color: rgba(22, 22, 22, 0.288);
    }

    .nav-link {
        color: $text-active;
    }

    .nav-link:hover {
        color: white;
    }

    #chat {
        .nav-link.active {
            background-color: $theme-purple !important;
        }
    }

    #contacts {
        .nav-link.active {
            background-color: $theme-orange !important;
        }
    }

    #profile {
        .nav-link.active {
            background-color: $theme-green !important;
        }
    }
}
