@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import '../custom';

.sidebar {
    height: 100vh !important;
    width: $sidebar-width;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $dark-accent;
    overflow: hidden;

    .header {
        min-height: 7% !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: '. title notifications';
    }

    .footer {
        margin-top: auto;
        height: 10% !important;
    }

    .title {
        grid-area: title;
        color: $theme;
        font-family: 'Langar', cursive;
    }

    .notifications {
        cursor: pointer;
        margin-right: 25px;
        grid-area: notifications;
    }

    .notification-count {
        transform: translate(5px, -5px);
        text-align: center;
        padding: 1px;
        font-size: 14px;
        width: 1.3em;
        height: 1.3em;
        background-color: red;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
    }

    .nav-item {
        background-color: rgba(22, 22, 22, 0.288);
    }

    .nav-link {
        color: $text-active;
    }

    .nav-link:hover {
        color: white;
    }

    #chat {
        .nav-link.active {
            background-color: $theme-secondary !important;
        }
    }

    #contacts {
        .nav-link.active {
            background-color: #4caf50 !important;
        }
    }

    #profile {
        .nav-link.active {
            background-color: rgb(143, 0, 199) !important;
        }
    }
}
