@import '../custom';

.sidebar {
    height: 100vh !important;
    width: $sidebar-width;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $dark-accent;
    overflow: hidden;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 7% !important;
    }

    .footer {
        background-color: rgba(22, 22, 22, 0.288);
        margin-top: auto;
        height: 10% !important;
        min-height: 10% !important;
    }

    .nav-item {
        background-color: rgba(22, 22, 22, 0.288);
    }

    .nav-link {
        color: $text-active;
    }

    .nav-link:hover {
        color: white;
    }

    #chat {
        .nav-link.active {
            background-color: $theme-purple !important;
        }
    }

    #contacts {
        .nav-link.active {
            background-color: $theme-orange !important;
        }
    }

    #profile {
        .nav-link.active {
            background-color: $theme-green !important;
        }
    }
}
